<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #87CEFA;">
  <div class="container">
    <%= link_to "🎹 Pianocella", root_path, class: "navbar-brand fw-bold text-dark" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "All Products", products_path, class: "nav-link fw-semibold text-dark" %>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle fw-semibold text-dark" href="#" id="navbarCategoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Categories
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarCategoryDropdown">
          <% Category.all.each do |category| %>
            <li>
              <%= link_to category.name, category_path(category), class: "dropdown-item" %>
            </li>
          <% end %>
        </ul>
      </li>
      
        <li class="nav-item">
        <%= link_to "About Us", page_path("about"), class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "Contact", page_path("contact"), class: "nav-link" %>
        </li>

        <li class="nav-item">
            <%= link_to "🛒 Cart", cart_path, class: "nav-link fw-semibold text-dark" %>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
        </li>
        <% end %>
    

      </ul>
    </div>
  </div>
</nav>
